## DataTypes

#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming

Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Outline:

1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [5]:
## Integer Example
age=35
print(type(age))
print(age)

<class 'int'>
35

In [2]:
import sys

In [3]:
sys.getsizeof(age)

28

In [6]:
age = complex(age)
age

(35+0j)

In [12]:
b = 2 + 3j

# print(type(b))
# print(b)

## type conversion

# c = int(b)
# print(c)


# d = float(b)

d = 5.9
print(type(d))
print(d)

print(complex(d))

<class 'float'>
5.9
(5.9+0j)

In [13]:
##floating point datatype
height=5.11
print(height)
print(type(height))
print(sys.getsizeof(height))

5.11
<class 'float'>
24

In [14]:
## string datatype example
name="Abhishek"
Name = 'Sagar'
Name_1 = """Rishi"""
print(name)
print(type(name))
print(Name)
print(type(Name))
print(Name_1)
print(type(Name_1))

print(sys.getsizeof(name))

Abhishek
<class 'str'>
Sagar
<class 'str'>
Rishi
<class 'str'>
49

In [17]:
## boolean datatype
is_true=True
is_false = False
print(type(is_true))
print(type(is_false))
print(is_true)
print(is_false)

<class 'bool'>
<class 'bool'>
True
False

In [26]:
a=10
b=10

# # type(a==b)
# print(a == b)
# print(type(a == b))

In [27]:
print(id(a))
print(id(b))

140707956257992
140707956257992

In [28]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [29]:
result="Hello" + str(5)
print(result)

Hello5

In [33]:
# id(height) 

# id(age)

# id(x) #Uncomment this line to get a NameError

In [34]:
z = 19

In [35]:
type(z)

int

In [36]:
z

19

In [37]:
z = float(z)
print(z)

19.0

In [38]:
z = str(z)
z

'19.0'

In [39]:
x = 'hello'
type(x)

str

In [40]:
x = int(x)

ValueError: invalid literal for int() with base 10: 'hello'

In [87]:
import random

# print(random.randrange(1, 11))

random.randrange(15,20)

17

In [97]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
print("He is called \"Johnny\"")

It's alright
He is called 'Johnny'
He is called "Johnny"
He is called "Johnny"

In [98]:
Name_1 = "AMIT"

In [99]:
len(Name_1)

4

In [102]:
txt = "The best things in life are free!"
print("expensive" in txt)
print("life"  in txt)

False
True

In [103]:
Name = "Yashi"

In [106]:
len(Name)

5

In [105]:
Name[1]

'a'

In [108]:
Name[4]

'i'

In [109]:
Name[-1]

'i'

In [110]:
Name[-5]

'Y'

In [ ]:
#  Slicing -- var_name[Start:End]  --> includes start and exclude the end

In [ ]:
# +ve indexing -- left to right

In [111]:
Name[:]

'Yashi'

In [113]:
Name[0:5]

'Yashi'

In [115]:
Name[-5:]

'Yashi'

In [116]:
Name[1:5]

'ashi'

In [117]:
Name[-4:-1]

'ash'

In [123]:
# var_name[Start:End:Jump]

In [120]:
My_Name = "Abhishek"

In [127]:
My_Name[::3]

'Aie'

In [125]:
My_Name[::-1]

'kehsihbA'

In [128]:
My_Name[4:]

'shek'

In [119]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [129]:
Name_1 = "Amit"

In [130]:
Name_1.upper()

'AMIT'

In [131]:
Name_1.lower()

'amit'

In [134]:
a = "                Hello, World!              "
print(a)

# .strip()
print(a.strip())

                Hello, World!
Hello, World!

In [135]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [136]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [137]:
a = "Hello World! Amit"
print(a.split(" "))

['Hello', 'World!', 'Amit']

In [138]:
a = "Amit"
b = "Upadhayay"

c = a + b
print(c)

AmitUpadhayay

In [139]:
d = a +" "+ b
print(d)

Amit Upadhayay

## f"{variable,operations}" --- f-strings

In [140]:
txt = f"My name is {c} and I'm {31*1} years old."
txt

"My name is AmitUpadhayay and I'm 31 years old."

In [141]:
result = "hello" + 5

TypeError: can only concatenate str (not "int") to str

In [144]:
result = f"hello5"

In [145]:
result

'hello5'

In [152]:
pi = 22/7

print(pi)

print(f'The value of pi is : {pi:.3f}')

3.142857142857143
The value of pi is : 3.143

In [147]:
f"One third, expressed as a float is: {1 / 3}"

'One third, expressed as a float is: 0.3333333333333333'

In [150]:
f"One third, rounded to two decimal places is: {1 / 3:.3f}"

'One third, rounded to two decimal places is: 0.333'

In [ ]:
# txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called 'Vikings' from the north."
txt

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
txt

In [153]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False